{% load static %}
{% load MAXpp_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'MAXpp/style.css' %}"/>

{% if listr300 %}
    <h1>List of Scores</h1>
    <h2>{{ username }}   {{ total_pp }}pp</h2>
    <table>
        <tr>
            <th>Song name [Difficulty]</th>
            <th>Star rating</th>
            <th>Length</th>
            <th>BPM</th>
            <th>R300</th>
            <th>300</th>
            <th>200</th>
            <th>100</th>
            <th>50</th>
            <th>Miss</th>
            <th>Accuracy</th>
            <th>PP</th>
        </tr>
        {% for i in nums %}
            <tr>
                <td>{{ title_list|return_item:i }} [{{ diff_list|return_item:i }}]
                    <strong>{{ dt_list|return_item:i }}</strong></td>
                <td>{{ star_list|return_item:i }}</td>
                <td>{{ min_list|return_item:i }}:{{ sec_list|return_item:i }}</td>
                <td>{{ bpm_list|return_item:i }}</td>
                <td>{{ listr300|return_item:i }}</td>
                <td>{{ list300|return_item:i }}</td>
                <td>{{ list200|return_item:i }}</td>
                <td>{{ list100|return_item:i }}</td>
                <td>{{ list50|return_item:i }}</td>
                <td>{{ list0|return_item:i }}</td>
                <td><strong>{{ list_acc|return_item:i }}</strong></td>
                <td><strong>{{ list_pp|return_item:i }}</strong></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h1>Error</h1>
    <p>This user does not exist.</p>
{% endif %}
<button>
    <a href="/">Back</a>
</button>
